<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scrum Timer</title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="scrumtimer" ng-strict-di>
    <div class="container" ng-controller="timerCtrl">
        <div class="row">
            <div class="col-xs-6">
                <h3>Total: {{ totalTime|time }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <button
                ng-if="!running"
                ng-click="start()"
                type="button"
                class="btn btn-lg btn-success col-xs-4">
                Start
            </button>
            <button
                ng-if="running"
                ng-click="stop()"
                type="button"
                class="btn btn-lg btn-danger col-xs-4">
                Stop
            </button>
            <div class="col-xs-2"></div>
            <button
                ng-if="!running"
                ng-click="reset()"
                type="button"
                class="btn btn-lg btn-danger col-xs-4">
                Reset
            </button>
            <button
                ng-if="running"
                ng-click="lap()"
                type="button"
                class="btn btn-lg btn-warning col-xs-4">
                Next
            </button>
        </div>

        <br />
        <div ng-if="laps.length>0&&!running">
            <h3>Average: {{ average()|time }} </h3>
            <h3>Longest: {{ longest().time|time }}</h3>
            <h3>Shortest: {{ shortest().time|time }}</h3>
        </div>

        <ul class='list-group'>
            <li class="list-group-item"
                ng-if="running"
                ng-class="{'list-group-item-danger':isLongest(currentTime),
                            'list-group-item-success':isShortest(currentTime)}">
                {{ currentTime|time }}
            </li>
            <li class="list-group-item"
                ng-class="{'list-group-item-danger':isLongest(lapItem),
                            'list-group-item-success':isShortest(lapItem)}"
                ng-repeat="lapItem in laps">
                {{ lapItem.time|time }}
                <button
                    ng-if="!$first"
                    ng-click="merge($index)"
                    type="button"
                    class="btn btn-info btn-sm">
                    Merge With Above
                </button>
            </li>
        </ul>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/underscore/underscore.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!-- Local Scripts -->
    <script src="/scripts/app.js"></script>
  </body>
</html>
